<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* Style the header */
header {
  background-color: pink;
  padding: 30px;
  text-align: center;
  font-size: 25px;
  color: white;
}

/*Container for flexboxes*/
section {
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
}

/* Style the navigation menu */
nav {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  flex-flow: row;
  background-color: pink;
  padding: 20px;
}

nav div {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
}

/* Style the content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: white;
  padding: 10px;
}


.cakeTable {
  padding: 20px;
}

#cakeOfMonth {
  background-color: pink;
}

footer {
  background-color: pink;
  padding: 10px;
  text-align: center;
  color: white;
}
